@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scrollbar {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;
  /* Hide scrollbar for Chrome, Safari, and Edge */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Ensure scrolling is still enabled */
  overflow-y: auto;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


/* Hide number input arrows (Chrome, Safari, Edge, Opera) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows (Firefox) */
input[type=number] {
  -moz-appearance: textfield;
}
